* {
  margin: 0;
  padding: 0;
}
body {
  background-color: cadetblue;
}

#App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;
}

.SearchInput {
  width: 400px;
  height: 20px;
  border-radius: 5px;
  border: none;
  padding: 20px 12px;
  font-size: 24px;
  color: darkslategray;
}

.SearchInput:focus {
  outline: 2px solid orange;
  outline-offset: -5px;
}

ul {
  overflow: hidden;
  border-radius: 5px;
  list-style: none;
  background-color: aliceblue;
}
li {
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

li:hover {
  background-color: darksalmon;
  color: aliceblue;
}
